In [1]:
# Import dependencies
import pandas as pd
import matplotlib as plt
import scipy.stats as st

In [2]:
# Open and read both data files
mouse_metadata_file = "Resources/Mouse_metadata.csv"
study_results_file = "Resources/Study_results.csv"

In [8]:
# Read and preview the data in a datafram
mouse_metadata_master = pd.read_csv(mouse_metadata_file)
mouse_metadata_master.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [7]:
study_results_master = pd.read_csv(study_results_file)
study_results_master.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [18]:
# Merge the dataframes
compiled_data_master = pd.merge(study_results_master, mouse_metadata_master, on="Mouse ID")
compiled_data_master.head(30)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22
10,f932,0,45.000000,0,Ketapril,Male,15,29
11,g107,0,45.000000,0,Ketapril,Female,2,29
12,g107,5,48.791665,0,Ketapril,Female,2,29
13,g107,10,53.435987,0,Ketapril,Female,2,29
14,g107,15,58.135545,0,Ketapril,Female,2,29
15,g107,20,62.706031,0,Ketapril,Female,2,29
16,g107,25,64.663626,0,Ketapril,Female,2,29
17,g107,30,69.160520,0,Ketapril,Female,2,29
18,g107,35,71.905117,0,Ketapril,Female,2,29
19,a457,0,45.000000,0,Ketapril,Female,11,30
20,a457,5,47.462891,0,Ketapril,Female,11,30
21,a457,10,49.783419,0,Ketapril,Female,11,30
22,c819,0,45.000000,0,Ketapril,Male,21,25
23,c819,5,45.769249,1,Ketapril,Male,21,25
24,c819,10,46.658395,1,Ketapril,Male,21,25
25,c819,15,48.370999,1,Ketapril,Male,21,25
26,c819,20,49.762415,1,Ketapril,Male,21,25
27,c819,25,51.828357,1,Ketapril,Male,21,25
28,c819,30,56.098998,1,Ketapril,Male,21,25
29,c819,35,57.729535,1,Ketapril,Male,21,25

In [28]:
# Confirm each row is unique
data_to_dedupe = compiled_data_master.duplicated(subset=["Mouse ID", "Timepoint"])

data_to_dedupe

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool